{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": { "node": "current", "browsers": ["last 2 versions", "IE 11"] },
                "useBuiltIns": "usage",
                "corejs": 3,
                "loose": true
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        ["@babel/plugin-transform-class-properties", { "loose": true }],
        ["@babel/plugin-transform-private-methods", { "loose": true }],
        ["@babel/plugin-transform-runtime"],
        "@babel/plugin-syntax-dynamic-import"
    ]
}
